

/* 颜色变量 */

$uni-color-MY: #aaadc2;
$uni-color-Mao: #a5b8c8;
$uni-color-CN: #a0bfc0;
$uni-color-SX: #c9a2a2;

$uni-color-chapter: #c9a2a2;
$uni-color-random: #aaadc2;
$uni-color-smart: #a5b8c8;
$uni-color-wrong: #a0bfc0;
$uni-color-rank: #bcaec4;

$uni-color-gold: #ffc64a;
$uni-color-silver: #b3b3b3;
$uni-color-copper: #e58a1f;

.color-MY {
    color: $uni-color-MY;
}

.color-Mao {
    color: $uni-color-Mao;
}

.color-CN {
    color: $uni-color-CN;
}

.color-SX {
    color: $uni-color-SX;
}

.line-color-MY {
    border: 3rpx solid $uni-color-MY;
}

.line-color-Mao {
    border: 3rpx solid $uni-color-Mao;
}

.line-color-CN {
    border: 3rpx solid $uni-color-CN;
}

.line-color-SX {
    border: 3rpx solid $uni-color-SX;
}

.bg-color-MY {
    background: $uni-color-MY;
}

.bg-color-Mao {
    background: $uni-color-Mao;
}

.bg-color-CN {
    background: $uni-color-CN;
}

.bg-color-SX {
    background: $uni-color-SX;
}
